.ball{
  background-image: url('https://diaboliquemagazine.com/wp-content/uploads/2016/07/TerminatorPodcast1-70x70.jpg'); 
  width: 70px;
  height: 70px;
  border-style: solid;
  border-radius: 50%;
  user-select: none; 
  cursor: crosshair;
  overflow: hidden;
  border-color: cyan;
}

.ball.smallBalls{
  width: 50px;
  height: 50px;
}
  
.ball:focus {
  outline: none;
 }
 
 .ball:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  background-image: radial-gradient(circle, rgb(226, 6, 6) 10% , transparent 10%);
  transform: scale(20,20);
  opacity: 0;
  transition: transform 1s, opacity 1s;
}

.ball:active:after {
  transform: scale(0,0);
  opacity: .4;
  transition: 0s;
}