.gunBox{
  position:fixed;
  top:0;
  right: 0;
  height: 1000px;
  width: 120px;
}

.gun{
  height: 100px;
  width: 100px;
  background: url("https://orig00.deviantart.net/cd5a/f/2016/036/2/e/mausergunsprite_by_pleiadesu-d9qkowg.gif");
}