@import './popup.css';
@import './area.css';
@import './ball.css';
@import './gun-box.css';
@import './time.css';
@import './user-interface.css';


body{
  background-size:100%;
  background-image: url('http://www.1zoom.me/big2/112/265018-dikemoon.jpg');
  background-repeat: no-repeat;
  width:100%;
  height: 100%; 
  overflow: hidden
}

div { position: absolute;}

input{
  position: relative;
  top: 30%;
  font-size: 25px;
  text-align: right;
}

input[type="text"]{
  background-color: black;
  color: cyan;
  }
  
td, th {
    text-align: left;
    padding: 8px; 
    background-color: #000000;
    color:  cyan;
  }
