.popup{
  position:absolute;
  top:-100%;
  left: 50%;
  background-image: url('http://ksassets.timeincuk.net/wp/uploads/sites/55/2013/12/09528_170737_terminatorsalvation_L280509.jpg');
  border-style: ridge;
  border-width: 20px;
  border-color:  black;
  height: 300px;
  width: 400px;
  margin-left: -200px;
  text-align: center;
  transition: top 1s ease-in-out;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.popup.visible{
  top:12%;
}

.save{
  position: relative;
 
  font-size: 25px;
  text-align: center;
  transition: background-color 2s,transform 1s;
  background-color: cyan;
  color: black;
}

.save:hover{
  transform: rotate(360deg);
  background-color: #000000;
  color:  cyan;
 }

.table {
  position:absolute;
  font-family: arial, sans-serif;
  width: 100%;
  top:-100%;
  transition: top 1s ease-in-out;
  user-select: none; 
}

.table.ShowMeTable{
  top:50%;
}

.table:focus {
  outline: none;
 }

 .ShowTableButton{
  transition: width 2s ,height 2s,background-color 2s,transform 1s;
  background-color: cyan;
  color: black;
  width: 150px;
  height: 25px;
  font-size: 15px;
 }

 .ShowTableButton:hover{
  width: 200px;
  height: 40px;
  background-color: #000000;
  color:  cyan;
  transform: rotate(360deg)
 }
 .TotalscoreBox{
  background-color:  rgb(23, 206, 206);
  border-radius: 50%;
  font-size: 20px;
  top: 100%;
  left: 50%;
  margin-left: -75px;
  width: 150px;
  animation-name: move;
  animation-duration: 8s;
  animation-iteration-count: 100;
 }
 
  @keyframes move {
    50%{left:50px}
  }