.timeText{
  position: absolute;
  display: inline;
  font-size: 25px;
  left: 50%;
  margin-left: -25px;
  text-align: center;
  color: cyan;
}

.time{
  position: absolute;
  font-size: 25px;
  left: 50%;
  top:4.5%;
  margin-left: -150px;
  width:300px;
  text-align: center;
  color :cyan;
}

.timeBar{
  background-color:cyan;
}