.pointstext{
  position: absolute;
  color: cyan;
  height:75px;
  width: 195px;
  border-color:  cyan;
  border-style: groove ;
  border-radius: 15%;
  font-size: 70px;
  background-color: #000000;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  user-select: none;
  text-align: center;
}
.livesBox{
  position: absolute;
  color: cyan;
  height:23px;
  width: 50px;
  border-color:  cyan;
  border-style: groove ;
  border-radius: 15%;
  font-size: 16px;
  background-color: #000000;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  user-select: none;
  text-align: center;
}

.button {
position: absolute;
cursor: e-resize;
width: 200px;
height: 50px;
border-radius: 5%;
background-color:  rgb(4, 5, 5);
overflow: hidden;
color: cyan;
border-color:  cyan;
}

.button:after {
content: "";
display: block;
position: absolute;
width: 100%;
height: 100%;
top: 0%;
background-image: radial-gradient(circle, rgb(255, 255, 255) 10% , transparent 10%);
transform: scale(20,20);
opacity: 0;
transition: transform 1s, opacity 3s;
}

.button:active:after {
transform: scale(0,0);
opacity: .7;
transition: 0s;
}
.start.hide{
  display: none;
}